:root {
        --site-width: 1920px;
        --content-width: 1470px;
        --ff-lato: "Manrope", sans-serif;
        --ff-ernestandemily: "Qwitcher Grypen", sans-serif;
        --green-very-light: #c5ccca;
        --green-light: #719e8b;
        --green-light-rollover: #4b5e5b;
        --green-light-medium: #495652;
        --green-medium: #4b5e5b;
        --green-medium-dark: #3f5450;
        --green-dark: #2b3834;
        --green-very-dark: #1c2723;
        --green-very-dark-rollover: #34443f;
        --yellow-medium: #ffbe3d;
        --yellow-medium-rollover: #ffcf6d;
        --pink: #cd72a1;
        --grey-light: #f8f8f8;
        --grey-light-rollover: #d8d8d8;
        --grey-medium: #666;
        --grey-dark: #252525;
        --grey-darkest: #222;
        --border-color: #ddd;
        --border-color-light: #e9e9e9;
        --red: #d61829;
        --red-light: #ffdede;
        --green: #4aa50d;
        --plyr-color-main: #ffbe3d;

  }
  
  /* Qwitcher Grypen: CSS classes */

  /* .qwitcher-grypen-regular {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .qwitcher-grypen-bold {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
  } */
  

  /* Manrope: CSS class for a variable style */
  /* // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 200 to 800
  
  .manrope-<uniquifier> {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

  body {
    
   
  }
  
  